$title-color: #000;
$border-color: #eaeaea;
$action-color: #269ae6;

.todos-panel {
  margin-bottom: 20px;
  max-width: 500px;
  width: 100%;
}

.todos-panel-title {
  border-bottom: 1px solid $title-color;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.todo {
  align-items: baseline;
  border-bottom: $border-color;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.todos-controls {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;

  .todo-control {
    color: $action-color;
    cursor: pointer;
    list-style: none;
    margin-right: 10px;
  }
}
